<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 <%= f.label :date, '日付', class: "contact-label" %>
            <%= raw sprintf(
              f.date_select(
                  :date,
                  {use_month_numbers: true,
                  start_year:        1920,
                  end_year:          2014,
                  default:           (Date.today),
                  date_separator:    '%s'},
                  class: "form-control"),
              '年 ', '月 ') + '日' %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
