<h1>
  <%= profile_image_for @group %>
  <%= @group.name %>
</h1>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<h2>Tweets </h2>
<% @group.tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
  <hr>
<% end %>